/* Primary #0000FE */
body{ 
    font-family: 'Montserrat', sans-serif !important;
}
a {
    font-size: .8rem;
    margin: 2px 0;
}
img.logo  { 
   height: 66px;
}
strong,.fw-600{
    font-weight: 600 !important;
}

@media (min-width: 576px) {
  
    .navbar {
        padding: .9rem 0rem !important;
    }

    .jumbotron {
        padding: 2rem 1.8rem;
    }
    .container-fluid {
        padding: 0 1.8rem !important;
        max-width: 1400px !important;


    }
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 100%);
    font-size: 13px;
    
}
.navbar-light button{
    font-size: 13px;
}

.jumbotron-fluid{
    background: url('../public/back.png');
    background-size: cover;
    background-position: center;
    background-color: transparent !important;
}
h1{ 
    font-size: 3.1rem !important; 
    line-height: 1.1 !important;
    font-weight: 600 !important; 
    color:black ;

}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    margin: 15px auto;
    opacity: 0.8;
}   
.display-4 {
    font-size: 3.1rem;
    
}

@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.3rem !important;
        padding-left: 2.3rem !important;
    }
    h1{ 
        font-size: 4.5rem !important; 
    }
    h2,h3{ 
        font-size: 4.5rem !important; 
        font-weight: 400 !important;
        color: #000; 
    
    }
}
.btn{
    height: 35px;
    padding: 0 20px; 
}
a.badge {
    height: 30px;
    padding: 0 20px;
    display: inline-flex; 
    align-items: center;
    color: white; 

    margin: 10px auto 1rem;
}
.card a.badge { 
    margin: 10px auto 2.8rem;
}
a.purple { 
    font-weight:600;
    background-color: #8D65FE;
    border-color:#8D65FE;
} 

.badge{
    
font-weight: 600 !important;
}
.badge-pink{
    background-color: #FE65B8;
    border-color: #FE65B8;
}  


.btn-primary,.badge-primary,.bg-primary { 
    color: white;
    background-color: #0000FE !important;
    border-color: #0000FE;
}

.card {
    border-radius: 0px !important;
}
.bg-primary.card {
    background: #010080 !important;
    border-color: #010080 !important;
}

.badge-primary {
    font-weight: 400;
    height: 30px;
    display: inline-flex;
    align-items: center;
    max-width: inherit;
    justify-content: center;
    border-radius: 33px;
    margin: 0 auto 20px;
    padding: 0 16px;

}



/* //CARD */
.card-title {
    margin-bottom: 0.23rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}


/* //SLIDE */
 
.carousel-caption{
    
    text-align: left;
    left: 10%;
}